In [1]:
print("Hackerank")

Hackerank

# Set Operation

.remove(x)
--------
This operation removes element  from the set.
If element  does not exist, it raises a KeyError.
The .remove(x) operation returns None.
---------

set.remove(x)


.discard(x)
---------
This operation also removes element  from the set.
If element  does not exist, it does not raise a KeyError.
The .discard(x) operation returns None.
---------

set.discard(x)

### Task
You have a non-empty set , and you have to execute  commands given in  lines.

The commands will be pop, remove and discard.

// input

    9
    1 2 3 4 5 6 7 8 9
    10
    pop
    remove 9
    discard 9
    discard 8
    remove 7
    pop 
    discard 6
    remove 5
    pop 
    discard 5

// output

    4

In [12]:
n = int(input())
s = set(map(int, input().split()))
N = int(input())


while(N>0):
    command = input().split(" ")
    print(command)
    if command[0] == 'remove':
        s.remove(int(command[1]))
    elif command[0] == 'discard':
        s.discard(int(command[1]))
    elif command[0] == 'pop':
        s.pop()
    N -= 1

    print(s)

print(s)
print(sum(s))

['pop']
{2, 3, 4, 5, 6, 7, 8, 9}
['pop']
{3, 4, 5, 6, 7, 8, 9}
['remove', '9']
{3, 4, 5, 6, 7, 8}
['discard', '9']
{3, 4, 5, 6, 7, 8}
['discard', '8']
{3, 4, 5, 6, 7}
['remove', '7']
{3, 4, 5, 6}
['pop']
{4, 5, 6}
['discard', '6']
{4, 5}
['remove', '5']
{4}
['11']
{4}
{4}
4

# union operator

.union()

The .union() operator returns the union of a set and the set of elements in an iterable.
Sometimes, the | operator is used in place of .union() operator, but it operates only on the set of elements in set.
Set is immutable to the .union() operation (or | operation).

In [16]:
s = set("Hacker")
s

{'H', 'a', 'c', 'e', 'k', 'r'}

In [17]:
s.union("Rank")

{'H', 'R', 'a', 'c', 'e', 'k', 'n', 'r'}

In [18]:
s.union(set('Rank'))

{'H', 'R', 'a', 'c', 'e', 'k', 'n', 'r'}

TypeError: 'int' object is not iterable